[detector]
# TODO add number of device or smth better
# TODO add ROI
# TODO add rot90

[angle motor]
port = xi-com:///dev/ximc/0000037A
step_in_360 = 32400
speed = 500
acceleration = 500

[horizontal motor]
port = xi-com:///dev/ximc/00000271
speed = 200
acceleration = 200
step_in_360 = 4200

[shutter]
port = /dev/ttyACM2
relay = 4

[x-ray source]
port = /dev/ttyUSB0
