[detector]
# TODO add number of device or smth better
# TODO add ROI
# TODO add rot90

[angle motor]
port = xi-com:///dev/ximc/0000037A
step_in_360 = 32400
speed = 500
acceleration = 500

[horizontal motor]
port = xi-com:///dev/ximc/00000271
speed = 200
acceleration = 200
# 1 шаг = 5.0136 мкм → 1 мм = 199.46 шагов
steps_per_mm = 199.46
# Позиция (мм), на которую нужно сместить мотор, чтобы вывести объект из рентгеновского пучка.
# Отрицательное значение — движение в сторону "парковки". Эквивалентно -4200 шагам.
move_object_outside_mm = -21.06

[shutter]
port = /dev/ttyACM2
relay = 4

[x-ray source]
port = /dev/ttyUSB0
mock = false
